* {
	text-align: center;
	margin: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #caeef9;
}

header {
	background-color: #42f49e;
	font-family: 'Slabo 27px', serif;
}

main {
		
	font-family: 'Roboto', sans-serif;
}

form div {
	max-width: 10em;
	text-align: center;
}


.radio {
	
	text-align: right;
	background-color: #caeef9;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

#quiz {
	padding-top: 1em; 
}

/*form input {
	display: inline-flex;
}*/

input {
			display: inline-block;
			float: right;
			margin-right: 1em;
			padding-top: 1em; 
}

label {
			padding-top: 1em;
			margin: auto;
}

form div {
			height: 3em;
			max-width: 15em;
			margin: auto;
			border-radius: 5em;
			text-align: center;

}

fieldset {
			border: 0;
}

legend {
	display: none;
}

#feedback {
		padding: 3em;
}


.white {
	color: white;
}