* {
	text-align: center;
	margin: 0px;
}

header {
	background-color: #42f49e;
	font-family: 'Slabo 27px', serif;
}

main {
		background-color: #caeef9;
		font-family: 'Roboto', sans-serif;
}

.white {
	text-decoration-color: white;
}